/* 画像とinfoを横並びで表示 */
.movie-detail__container {
  max-width: 1000px;
  margin: 80px auto;
  padding: 0 20px;
}

.movie-detail__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

@media (min-width: 750px) {
  .movie-detail__inner-container {
    flex-direction: row;
    gap: 40px;
  }
}

.movie-detail__image {
  width: 100%;
  flex: 1;
}

.movie-detail__image img {
  width: 100%;
  height: auto;
}

.movie-detail__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  text-align: left;
}

.movie-detail__info>* {
  margin-bottom: 40px;
}

.movie-detail__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-detail__genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.link-to__home {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  text-decoration: none;
  margin-bottom: 80px;
}